.hero {
  height: 750px;
  overflow: hidden;
}

.hero__imageBlob {
  width: 400px;
  margin: 40px;
  clip-path: url("#hero__imageBlob");
}

.hero__blob-image {
  animation: heroBlobImageAnimation 2s forwards;
  animation-delay: 1s;
  transform: translateY(750px);
}

.hero__blob-image svg {
  width: 500px;
  height: 500px;
}

.hero__bottom-wave {
  bottom: -150px;
  animation: heroBottomWaveAnimation 2s forwards;
  animation-delay: 500ms;
}

.hero__title {
  transform: translateY(-300px);
  animation: heroTitleAnimation 2s forwards;
  animation-delay: 1.5s;
  position: relative;
  z-index: 10;
  display: grid;
  place-items: center;
  text-align: center;
  width: 100%;
}

.hero__title p {
  background-color: white;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 11px;
  border: 1px solid lightgray;
}

/* .hero__title p {
  --hero__title-p-shadow-color: rgb(255, 255, 255);
  text-shadow: 0px 7px 0 var(--hero__title-p-shadow-color),
    0px -7px 0 var(--hero__title-p-shadow-color),
    7px 0px 0 var(--hero__title-p-shadow-color),
    7px 7px 0 var(--hero__title-p-shadow-color),
    7px -7px 0 var(--hero__title-p-shadow-color),
    -7px 0px 0 var(--hero__title-p-shadow-color),
    -7px 7px 0 var(--hero__title-p-shadow-color),
    -7px -7px 0 var(--hero__title-p-shadow-color);
} */

@keyframes heroBottomWaveAnimation {
  from {
    bottom: -150px;
  }
  to {
    bottom: 0;
  }
}

@keyframes heroBlobImageAnimation {
  0% {
    transform: translateY(750px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes heroTitleAnimation {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 550px) {
  .hero__blob-image svg {
    width: 100vw;
    height: 100vw;
  }
}
